*{
    margin:0;
    padding:0;
    font-family: popins, sans-serif;
    box-sizing:border-box;

}
.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/Cristmaz.jpg);
    background-size: cover;       /* Ensures image covers the entire container */
    background-position: center;  /* Keeps the image centered */
    background-repeat: no-repeat; /* Prevents tiling */
    padding: 0 8px;
}

.logo {
    height: 80px;
    width: 120px;
    margin-top: 20px;
    cursor: pointer;
}
.content {
    top: auto;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;  
}
.content h1 {
            font-size: 64px;
            font-weight: 600;
}
.content h1 span{
    color:#ff3753;
}

.content button
{
    background: transparent;
    border: 2px s;


    

}